<div class="footer">
  <div class="promo-message">
    Hi there!
    <br />
    Help me fund better servers and more database power
    <br />
    for a more responsive real-time!
    <a href="https://paypal.me/pools/c/8oGaCNgaQO" target="_blank"
      >Click Here!
    </a>
  </div>

  <div class="function-footer">
    <input type="button" id="rename_button" class="button" value="Rename" />
    <br />
    <br />
    <a href="https://github.com/fiskmoz/real-time-pokedraw">Source Code</a>
  </div>
</div>

<script src="/globals/globals.js"></script>
