<div class="footer">
  <div class="promo-message"> 
    Hi there!
    </br> 
    Help me fund better servers and more database power
    </br> 
    for a more responsive real-time! <a href="https://paypal.me/pools/c/8oGaCNgaQO" target="_blank">Click Here! </a>
  </div>
  

  <div class="how-to-wrapper">
    <input type="button" id="how_to_button" class="button" value="How to play:">
    <div id ="how_to_div" class="centered hidden">
        <p> 
          Get a few friends together in voice comms and join the same room. 
          </br>
          One should start drawing and has 45 seconds to draw a pokemon. 
          </br> 
          The others in the room will see what is drawn in real-time. 
          </br>
          The first one to correctly guess the pokemon you are drawing wins!
          </br>
          Tip: Holding CTRL while drawing will erase instead of draw!
        </p> 
    </div>
  </div>
  
  <div class="function-footer">
    <input type="button" id="rename_button" class="button" value="Rename">
    </br>
    </br>
    <a href="https://github.com/fiskmoz/real-time-pokedraw">Source Code</a>
  </div>
</div>

<script src="/globals/globals.js"></script>
