<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAWiqFCByM9LxsLDqq71YgVCpmXhqJTyNI",
    authDomain: "real-time-pokedraw.firebaseapp.com",
    databaseURL: "https://real-time-pokedraw.firebaseio.com",
    projectId: "real-time-pokedraw",
    storageBucket: "real-time-pokedraw.appspot.com",
    messagingSenderId: "710326983039",
    appId: "1:710326983039:web:5a8aa14aa69555db2c624a",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  let db = firebase.firestore();
</script>

<div class="header">
  <a id="title" href="/">
    <img
      src="https://fontmeme.com/permalink/200422/a58eeebd41d1d7c606dc4e1881cc5acf.png"
      alt="pokemon-font"
      border="0"
    />
  </a>
</div>
