<div class="generation-selection-wrapper">
    <div class="centered"> 
        <div class="info-header">
            Generations 
            </br>
            <label class="checkbox-container" for="gen1"> 1 
                <input type="checkbox" name="gen1" id="gen1" value="1" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen2"> 2 
                <input type="checkbox" name="gen2" id="gen2" value="2" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen3"> 3 
                <input type="checkbox" name="gen3" id="gen3" value="3" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen4"> 4 
                <input type="checkbox" name="gen4" id="gen4" value="4" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen5"> 5 
                <input type="checkbox" name="gen5" id="gen5" value="5" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen6"> 6 
                <input type="checkbox" name="gen6" id="gen6" value="6" checked>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container" for="gen7"> 7 
                <input type="checkbox" name="gen7" id="gen7" value="7" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="pokemon-info">
            <input type="button" class="button" value="Start Drawing" onclick="start_countdown()">
            <h2 id="pokemon_name"></h2>
            <img id="pokemon_image"></img>
        </div>
    </div>
</div>