<div class="generation-selection-wrapper">
  <div class="centered">
    <div class="info-header">
      Generations
      <br />
      <label class="checkbox-container" for="gen1">
        1
        <input type="checkbox" name="gen1" id="gen1" value="1" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen2">
        2
        <input type="checkbox" name="gen2" id="gen2" value="2" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen3">
        3
        <input type="checkbox" name="gen3" id="gen3" value="3" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen4">
        4
        <input type="checkbox" name="gen4" id="gen4" value="4" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen5">
        5
        <input type="checkbox" name="gen5" id="gen5" value="5" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen6">
        6
        <input type="checkbox" name="gen6" id="gen6" value="6" checked />
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-container" for="gen7">
        7
        <input type="checkbox" name="gen7" id="gen7" value="7" checked />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="pokemon-info">
      <input
        type="button"
        class="button"
        value="Start Drawing"
        onclick="start_countdown()"
      />

      <input
        type="button"
        id="how_to_button"
        class="button"
        value="Hide Tutorial"
      />
      <h2 id="pokemon_name"></h2>
      <img id="pokemon_image" />
      <div class="how-to-wrapper">
        <div id="how_to_div" class="">
          <p>
            1. Select what generations to use.
            <br />
            2. Have some friends join your room.
            <br />
            3. Press Start Drawing.
            <br />
            4. You have 45 seconds to draw the pokemon you see.
            <br />
            5. Have your friends guess what pokemon you are drawing.
            <br />
            6. Add a score to the one who guesses correctly first.
            <br />
            7. Repeat!
            <br />
            Tip: Holding CTRL while drawing will erase instead of draw!
          </p>
        </div>
      </div>
      <div id="user_already_drawing" class="user-already-drawing hidden">
        <p>Someone is already drawing. Please wait.</p>
      </div>
    </div>
  </div>
</div>
