<div class="players-in-lobby-wrapper">
  <div class="centered">
    <div class="info-header drawing-status">
      <b>Players in lobby:</b>
    </div>
    <div class="user-info">
      <ul class="user-list" id="users_list">
        <li><b>Names: </b> </li> </br>
      </ul>
      <ul class="user-list" id="users_timestamp_list">
        <li><b>Joined: </b> </li> </br>
      </ul>
      <ul class="user-list" id="users_score_list">
        <li><b>Score: </b> </li> </br>
      </ul>
    </div>
  </div>
</div>
