.header {
  padding: 35px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(244, 42, 53, 0.9),
    rgba(255, 162, 0, 0.9),
    rgba(255, 213, 0, 0.9),
    rgba(168, 191, 18, 0.9),
    rgba(46, 181, 47, 0.9),
    rgba(0, 170, 181, 0.9),
    rgba(50, 91, 197, 0.9),
    rgba(148, 109, 155, 0.9)
  );
  font-size: 30px;
}

footer {
  display: block;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(244, 42, 53, 0.9),
    rgba(255, 162, 0, 0.9),
    rgba(255, 213, 0, 0.9),
    rgba(168, 191, 18, 0.9),
    rgba(46, 181, 47, 0.9),
    rgba(0, 170, 181, 0.9),
    rgba(50, 91, 197, 0.9),
    rgba(148, 109, 155, 0.9)
  );
  height: auto;
  color: white;
  border-top: 1px black solid;
}

body {
  background-color: floralwhite;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
  top: 50%;
  left: 50%;
  text-align: center;
}

.preview-canvas-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: #000000 1px solid;
}

.preview-canvas {
  border: 1px #000000 solid;
  cursor: pointer;
  background-color: white;
}

.draw-canvas-wrapper {
  display: inline-block;
  max-width: 610px;
  min-width: 610px;
  vertical-align: top;
}

.draw-canvas {
  margin: 8px 0 8px 0px;
  background-color: white;
}

.watching {
  border: 2px red solid;
}

.drawing {
  border: 2px forestgreen solid;
}

.selected-box {
  border: 2px rgba(20, 20, 11, 0.9) solid;
  background-color: rgba(0, 0, 255, 0.3);
  position: absolute;
  pointer-events: none;
}

.players-in-lobby-wrapper {
  display: inline-block;
  padding-left: 10px;
  max-width: 400px;
  min-width: 300px;
  vertical-align: top;
}

.generation-selection-wrapper {
  display: inline-block;
  padding-left: 10px;
  max-width: 600px;
  min-width: 550px;
  vertical-align: top;
}

.drawing-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-top: black 1px solid;
  padding-top: 5px;
}

.painter-header {
  border: black 2px solid;
  max-height: 40px;
  padding: 5px;
  display: flex;
}

.info-header {
  height: 39px;
  border: black 2px solid;
  padding: 5px;
  font-size: 16px;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container + .checkbox-container {
  margin-left: 25px;
}

.pokemon-info {
  margin-top: 8px;
  padding: 5px;
  border: black 2px solid;
  margin-bottom: 15px;
  min-width: 475px;
}

.user-info {
  margin-top: 8px;
  padding: 5px;
  border: black 2px solid;
  margin-bottom: 15px;
}

.pickr {
  padding: 1px;
  border: black 4px solid;
}

.button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.pickr + .button {
  margin-left: 10px;
}

.button + .button {
  margin-left: 10px;
}

.drawing-status {
  font-size: 25px;
  text-align: center;
  margin: auto;
  font-weight: bolder;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefeff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.user-list {
  list-style-type: none;
}

.error-container {
  border: 5px solid red;
}

.selected-box .tooltiptext {
  width: 100px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  font-size: 17px;
}
